@import url('https://fonts.googleapis.com/css2?family=Allura&family=Montserrat&display=swap');

//Variabler
$bread: Montserrat, Arial, Helvetica, sans-serif;
$headline: Allura, Zapfino, cursive;

$bgc: #f6f2ec;
$primary: #7a6642;
$secondary: #e3d3bf;
$accent: #efd5c9;
