@use 'assets' as a;

//Höjd och färg på wrapper
.wrapper {
    height: 100vh;
    background-color: a.$bgc;
}

//Själva innehållet
.container {
    width: 70%;
    margin: auto;
    position: relative;
    //Todo-rubrik
    h1 {
        text-align: center;
        color: a.$primary;
    }
    //Container för h2 och rosa rad
    div.hl-container {
        position: relative;
        //H2: position för att z-index ska gälla
        h2 {
            position: relative;
            z-index: 1;
            color: a.$primary;
            text-align: center;
        }
        //Rosa rad
        div.bg-line {
            background-color: a.$accent;
            height: 1.5em;
            position: absolute;
            width: 100%;
            top: 1.8em;
        }
    }
}

//Formulär
form {
    //Centrera
    width: 60%;
    margin: auto;

    //Allmänna formulär-kontroller
    .formthing {
        font-family: a.$bread;
        padding: 0.5em 0.8em;
        font-size: 1em;
        display: block;
        width: 100%;
        border-radius: 50px;
        border: 3px solid a.$accent;
        &:hover {
            border: 3px solid #bc937f;
        }
    }
    input[type='number'] {
        width: fit-content;
    }
    //Submit/reset
    div.controls {
        margin-top: 2em;
        display: flex;
        width: 100%;
        justify-content: space-between;

        input[type='submit'],
        input[type='reset'] {
            @extend .formthing;
            width: fit-content;
            cursor: pointer;
        }
        input[type='submit'] {
            background-color: #fff;
            color: black;
        }
        input[type='reset'] {
            background-color: a.$bgc;
            color: black;
        }
    }
    //Text om prioriteringar
    .info {
        font-size: 0.7em;
        margin-left: 0.6em;
    }
}

//Kommande uppgifter:
div.comingtasks {
    width: 60%;
    margin: auto;
    //Styling för lista
    ul li {
        list-style: none;
        border-bottom: 2px solid a.$secondary;
        margin-top: 1em;
        display: flex;
        width: 100%;
        justify-content: space-between;
        accent-color: a.$accent;
        color: a.$primary;

        //Checkbox
        input[type='checkbox'] {
            margin-right: 0.4em;
            width: 20px;
            height: 20px;
            clip-path: circle(44% at 50% 50%);
            position: relative;
            top: 0.3em;
        }
        //Ta bort-knapp
        button.delete {
            border: none;
            background-color: rgba(0, 0, 0, 0);
            color: a.$primary;
            font-size: 1.1em;
            cursor: pointer;
        }
    }
    //Prio-klasser
    li.prio1 {
        @include a.prio1;
    }
    li.prio2 {
        @include a.prio2;
    }
    li.prio3 {
        color: green;
    }
    li.completed {
        text-decoration: 2px solid line-through;
    }
}

header img {
    width: 100%;
}

//Felmeddelande
span.error {
    color: a.$prio1;
    display: block;
    max-width: 35em;
    margin: 0 auto;
}

//jag
p.cred {
    max-width: 35em;
    margin: 3em auto 1em;
    padding: 0 0.7em;
    font-size: 0.8em;
    color: a.$primary;
}
