@use 'assets' as a;

//allmänna regler
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//max-bredder, overflow, tyspnitt och linjehöjd
body {
    max-width: 1900px;
    background-color: a.$bgc;
    width: 100%;
    margin: auto;
    overflow-x: hidden;
    font-family: a.$bread;
    line-height: 1.9;
}

//Rubriker
h1 {
    font-family: a.$headline;
    font-size: 4em;
}

h2 {
    font-family: a.$headline;
    font-size: 2.6em;
}
